<div class="daily-entry-experince">
  <h2>Add Your Daily Experience</h2>
  <form>
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        [(ngModel)]="entry.title"
      />
    </div>
    <br>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
        [(ngModel)]="entry.description"
      ></textarea>
    </div>
    <br>
    <div class="form-group">
      <label for="loggedUser">Username:</label>
      <input
     type="text"
        id="loggedUser"
        name="loggedUser"
        class="form-control"
        placeholder="you have freedom to choose any name"
        [(ngModel)]="entry.loggedUser.anonmyusId"
      />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" (click)="addEntry()">
      Add Entry
    </button>
  </form>
</div>
