.chat-thread {
  background-color: #f0f0f0; /* Light background color */
  padding: 20px;
  font-family: 'Times New Roman', serif;
  margin-bottom: 20px; /* Add margin between chat threads */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.chat-thread button {
  background-color: #6dbf9d; /* Blue button background */
  color: #fff; /* White text color */
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  margin-right: 10px;
}

.daily-blog-entry-button-container button {
  background-color: #2ba54b; /* Blue button background */
  color: #fff; /* White text color */
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  margin-right: 10px;
}

.chat-entries {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-entry {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* White background for entries */
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.chat-entry .chat-entry-header {
  display: flex;
  justify-content: space-between;
}

.chat-entry .user-info {
  font-style: italic;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.chat-entry .existing-thread-chat {
  display: flex;
}

.chat-entry h3 {
  font-size: 18px;
}

.nature-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover; /* Ensure the image covers its container */
}

.entry-content {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.entry-date {
  font-style: italic;
  margin-top: 10px;
  text-align: right;
}

.daily-blog-entry-button-container {
  display: flex;
  justify-content: flex-end; /* Move the button to the right */
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-bar{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;

}

.pagination-area{
  border: rgb(53, 136, 100) 1px solid;
  box-shadow: 6px 4px 5px rgb(53, 136, 100);
  margin-top: 20px;
  display: flex;
  justify-content: center;
}